#preload-01 { background-image: url("images/choosebg.png");}
#preload-02 { background-image: url("images/choosebg.png");}
#preload-03 { background-image: url("images/gamebg.jpg");;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.centerIt { /* centers elments and content */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
button:focus { /* removes blue frame from buttons */
    outline: none;
}
body {
    height: 100vh;
}
header {
    background-color: rgb(123, 104, 206);
    display: flex;
}
header, footer {
    height: 10vh;
}
h1 {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 6px;
}
#start-scr, #choser-scr, #game-scr, #win-scr, #lose-scr {
    height: 100%;
    width: 100%;
    border: 5px solid #666;
} 
#replay-container, #heading-container, #menu-container {
    width: 33.3%;
    height: 100%;
}
#replay, #replay i, #menu-btn, #menu-btn i {
    background-color: transparent;
    border: none;
    color: white;
    transform: scale(1.6);
}
main {
    height: 80vh;
    display: flex;
}

                        /* manu screen */
#menu {
    display: none;
    position: fixed;
    z-index: 3;
    right: 10px;
    top: 12vh;
    border-radius: 10%;
    width: 200px;
    padding: 5px;
    background-color:  rgb(109, 175, 170);
    border: 5px solid teal;    
}
#menu button {
    width: 100%;
    text-align: center;
    color: white;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
}
hr {
    margin: auto;
    width: 80%;
}
#about, #contact {
    z-index: 3;
    padding: 10px;
    background-color: thistle;
    opacity: 0.9;
    position: fixed;
    width: 90%;
    height: 75%;
    top: 12%;
    left: 5%;
    border-radius: 30px;
    border: 5px solid #666;
    text-align: center;
    line-height: 1.5;
    display: none;  
}
#about i, #contact i {
    margin-top: 5px;
    align-self: flex-start;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    transform: scale(1.2);
}
#about button, #contact button {
    margin-top: 10px;
    border: none;
    background-color: transparent;
}
#about h2 {
    font-size: 40px;
    margin-bottom: -10px;
}
#contact p {
    font-size: 20px;
}

                        /* Start screen */
#start-scr {
    background-image: url("images/startbg.png");
    background-size: cover;
    border: 5px solid #666;
    flex-direction: column;
    justify-content: space-around;
}
#welcome-msg {
    padding: 10px 30px;
    background-color: rgba(67, 189, 142, 0.2);
    border: 5px solid #666;
    border-radius: 10%;
    text-align: center;
    box-shadow: 0px 0px 15px 0px;
}
#welcome-msg h2 {
    line-height: 2;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0px -2px 2px black;
}
#welcome-msg p {
    line-height: 1.5;
}
#start-btn {
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    
    border: 5px solid rgb(127, 123, 196);
    background-color: rgb(83, 71, 255);
    font-size: 1rem;
    animation: 0.5s btn infinite ;
}
#start-btn i {
    transform: scale(3);
    animation: 0.5s playIcon infinite ;
}
#start-btn:hover {
    opacity: 50%;
}
#start-btn:active {
    background-color: black;
    color: white;
}
@keyframes btn {
    0% {
        width: 70px;
        height: 70px; 
    }
    50% {
        width: 75px;
        height: 75px; 
    }
}
@keyframes playIcon {
    0% {
        transform: scale(3);
    }
    50% {
        transform: scale(3.5);
    }
}

                        /* Chooser screen */
#choser-scr {
    top: 0;
    left: 0;
    background-image: url("images/choosebg.png");
    background-size: cover;
    border: 5px solid #666;
    display: none;
    flex-direction: column;   
}
#choser-scr h2 {
    margin-top: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px white;
}
#choser-form {
    width: 100%;
    height: 100px;
    margin: 20px;  
}
#grid-select {
    margin-bottom: 20px;
    font-size: 2rem;
    width: 70%;
    height: 100px;
    appearance: none;
    margin: auto;
}
.select-container {
    width: 33%;
    flex-direction: column;   
}
.select-container input { 
    transform: scale(2);
}
.select-container label {
    margin-top: 20px;
    color: white;
    text-shadow: 0px 0px 2px black;
}
#grid-select:focus {
    outline: none;
}
#submit-btn {
    font-size: 2rem;
    width: 80%;
    height: 50px;
}


                        /* Game screen */
#game-scr {
    display: none;
}
#game-area {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("images/gamebg.jpg");
    background-size: cover;
}
#ready-scr {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    
}
#ready-msg{
    font-size: 5rem;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 10px black;
    z-index: 2;
}
#board {
    min-width: 300px;
    max-width: 800px;
    min-height: 300px;
    max-height: 800px;
    display: grid;
    justify-items: center;
    align-items: center;
    border: 5px solid #AAA;
    border-radius: 5%;
}
.padBtn {
    width: 80%;
    height: 80%;
    opacity: 0.6;
    background-color: yellowgreen;
    border: 5px solid #666;
    border-radius: 10%;
}
                        /* win screen */
#win-scr, #lose-scr {
    opacity: 0.8;
    color: white;
    font-size: 2rem;
    text-shadow: 0px 0px 10px black;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}
#win-scr {
    background-color: rgb(91, 228, 64);
}

                        /* lose screen */
#lose-scr {
    background-color: rgb(211, 26, 26);
}


footer {
    background-color: rgb(123, 104, 206);
} 
footer h3 {
    display: none;
    color: white;
    line-height: 2;
    font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
    .select-container label {
        font-size: 1.5rem;
    }

@media only screen and (min-width: 800px) {
    #board {
        width: 90%;
        height: 90%;
    }
}
@media only screen and (max-height: 500px) {
    body {
        display: flex;
    }
    header {
        position: static;
        width: 10vw;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding-left: 18px;
    }
    header h1 {
        display: none;
    }
    #menu {
        left: 12vw;
        top: 10vh;
    }
    #about h2, #contact h2 {
      font-size: 1.2rem;
    }
    #about p, #contact p {
        font-size: 0.8rem;
      }
    #start-scr, #choser-scr, #game-scr, #win-scr, #lose-scr {
        width: 80vw;
        height: 100vh;
    }
    footer {
        position: static;
        width: 10vw;
        height: 100%;
    }
    footer p {
        display: none;
    }
    footer h3 {
        display: block;
    }
    #start-scr {
        flex-direction: row;
    }
    #welcome-msg h2{
        font-size: 2rem;
    }
}